$color-main-pink: #ed4381;
$color-main-orange: #F4854D;
$color-main-orange-darker: rgb(246, 109, 40);
$color-main-grey: #bcbcbc;
$color-dark-blue: #222B36;
$color-light-grey: rgb(192, 192, 192);
$color-lightest-grey: rgb(221, 221, 221);
$color-font-grey:#868686;
$color-strong-pink:#ED4381;
$color-super-light-grey: #F0F0F0;

$primary-red :#C01A1A;
$white :white;
$black :black;

$error-red: #D8000C;

